<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FiscalId" value="FP00000010"/>
    <add key="IP" value="192.168.0.176"/>
    <add key="CommLog" value="OFF"/>
    
    <!--
    <add key="FiscalId" value="119"/>
    <add key="IP" value="192.168.0.219"/>-->
    <add key="Port" value="4444"/>

    <add key ="SleepTimeout" value="200"/>
  </appSettings>
</configuration>