<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FiscalId" value="FP11004390"/>
    <add key="IP" value="192.168.0.14"/>
    <add key="CommLog" value="OFF"/>
    <add key="Port" value="4444"/>
    <add key="JSONDocName" value="JSONSaleDoc.txt"/>
    <add key="LicenseKey" value="9098A4356BF79CB3"/>
    <add key="LogLevel" value="4"/>
    <add key="LogDirectory" value="C:\logger"/>
    <add key="GetZReportAt" value="500"/>
    <add key="AutoPrintTimerInterval" value="10000"/>
	
	 <add key="TubitakTestCase" value="0"/>
    <!--    
     TUBITAK TEST MENU:                        HATA KODLARI:
     0 - NONE                                     00
     1 - GEÇERSİZ MESAJ                           11
     2 - LRC DOĞRULAMA HATASI                     13
     3 - TAG UZUNLUĞU HATASI                      31
    -->
    
    <!--
    <add key="LicenseKey" value="25D5D564E9B68EED"/>
    -->
    
    <!--
    85 -> "BE29D687B02CF6E3"
    92 -> "CD2769B6CB602CA8"
    90 -> "2A886135275FC0C5"
    79 -> "5E80307557A4951C"
    FO00033504 -> "25D5D564E9B68EED"
    FO00000861 -> "75070E8EE59CA6E2"
    -->
  </appSettings>
</configuration>