<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FiscalId" value="FP11004390"/>
    <add key="IP" value="192.168.0.145"/>
    <add key="Port" value="4444"/>
    <add key="JSONDocName" value="JSONSaleDoc.txt"/>
    <add key="LogLevel" value="6"/>
    <add key="LogDirectory" value="C:\logger"/>
    <add key="GetZReportAt" value="500"/>
    <add key="AutoPrintTimerInterval" value="10000"/>
  </appSettings>
</configuration>